body * {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(rgba(0,0,125,.3),white,rgba(100,0,0,.2),white,rgba(0,0,125,.2))
}

.wrapper {
    position: relative;
    height: calc(100vh - 150px);
    padding: 40px;
    border: 7px crimson;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    border-style: groove;
}

header {
  position: relative;
  height: calc(100vh - 100px);
  padding: 0px;
  border: 7px crimson;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  border-style: groove;
  white-space: nowrap;
}

h1 {
  justify-content: center;
  max-width: 600px;
  text-align: center;
  margin: 0px auto;
  font-size: 60px;
  font-stretch: expanded;
}
h2 {
  color: crimson;
  text-align: center;
  padding: 0px;
  margin: 0px auto 10px auto;
  line-height: 10px;

}
p {
  justify-content: center;
  line-height: 15px;
  text-align: center;
  margin: 5px 10px;
  font-weight: bold;
}

button {
  display: inline;
  align-items: stretch;
  max-width: 200px;
  text-align: center;
  margin: 0px auto;
  font-family: 'Montserrat', sans-serif;
  color: blue;
  font-size: 18px;
}

.seconds, .secondsText {
  border-color: blue;
  font-weight: bold;
  font-size: 20px
}
.wordLevel,.wordLevelText {
  border-color: crimson;
  font-weight: bold;
  font-size: 20px
}
.promptBox,.promptBoxText {
  border-color: blue;
  font-weight: bold;
  font-size: 20px
}

main {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1.75;
  overflow: hidden;
}

div {
  position: relative;
  height: calc(100vh - 100px);
  padding: 10px;
  border: 7px crimson;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  border-style: groove;
  white-space: nowrap;
  text-align: center;
}

.gametext {
  font-weight: bold;
}

.seconds {
  font-style: italic;
}

.wordLevel {
font-style: italic;
}

.promptBox {
  font-style: italic;
}
