body * {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  display: grid;
}

body {
background-color: #000000;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    height: 725px;
    width: 725px;
    padding: 0px;
    border: 7px #ffffff;
    background-color: #000000;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    overflow: hidden;
    font-weight: bold;
    color: #000000;
}

header {
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 5;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  margin: 0px auto;
  font-size: 50px;
  font-stretch: expanded;
  text-transform: uppercase;
}

h2 {
  color: #dd0100;
  text-align: center;
  padding: 0px;
  margin: 5px auto 10px auto;
  line-height: 20px;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  margin: 10px auto 10px auto;
  padding: 0;
  font-size: 25px;
}

h4 {
  text-align: center;
  margin: 10px auto 0px auto;
  padding: 0;
  font-size: 16px;
}

p {
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  margin: 5px 10px;
  font-weight: bold;
}

button {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

#play {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 6;
  color: #225095;
  font-size: 24px;
  align-items: center;
}

#reset {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 6;
  color: #225095;
  font-size: 24px;
  align-items: center;
}
form {
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 6;
  grid-row-end: 10;
}
#submit {
  background-color: #fac901;
  color: #225095;
  text-align: center;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 30px;
}

#userWord {
  font-size: 40px;
  align-items: center;
  text-align: center;
}

.seconds {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #dd0100;
  color: #ffffff;
  font-size: 150px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.secondsText {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
  background-color: #dd0100;
  color: #ffffff;
  font-weight: normal;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.wordLevel {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 10;
  grid-row-end: 13;
  font-size: 75px;
  color: #dd0100;
  font-weight: bold;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.wordLevelText {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 13;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  background-color: #fac901;
  padding: 0px;
  align-items: center;
  text-transform: uppercase;
}

.promptBox{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 10;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
}

.promptBoxText {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  background-color: #ffffff;
  align-items: center;
  text-transform: uppercase;
}

.bluespace {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 10;
  grid-row-end: 13;
  background-color: #225095
}

.acknowledgments {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 10;
  grid-row-end: 13;
  color: #dd0100;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  line-height: 12px;
  font-size: 10px;

}

a:link {
    text-decoration: none;
    color: #dd0100;
}

a:visited {
  text-decoration: none;
  color: #dd0100;
}

a:hover {
  text-decoration: none;
  color: #dd0100;
}

a:active {
  text-decoration: none;
  color: #dd0100;
}
